#content-container {
  margin-bottom: 10px;
}
.protein-chain {
  background-color: black;
  color: white;
}
.amino-acid-icon {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1em;
  vertical-align: middle;
  cursor: pointer;
}
.amino-acid-icon:not(.C_terminus):after {
  content: "---";
  color: black;
  position: relative;
  top: -1.2em;
  left: 3em;
  cursor: default;
}
.N_terminus, .C_terminus {
  border: 2px  dashed cyan;
}
.amino-acid-label {
  text-align: center;
  padding-top: 0.5em;
}
